*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(70, 161, 236);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
    padding: 20px;
}

section{
    background-color: white;
    background-position: center center;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.400);
    text-align: center;
}
p{
    margin: auto;
    margin-left: auto;
    
}

div{
    width: 80px;
    height: 80px;
    background-color: lightgrey;
    background-position: center center;
    border-style: solid;
    display: inline-block;
    text-align: center;
    font-size: 80px;
    box-sizing: content-box;
}
div.velha{
    box-sizing: content-box;
}
div:hover{
    background-color: yellow;
    box-sizing: content-box;
}
div#res{
    background-color: white;
    height: 50px;
    width: 200px;
    font-size: 30px;
    border-style: none;
    padding-top: 30px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}


